apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ .Identity.ClusterCertificateAuthorityPem }}
    server: "https://{{ .Endpoint }}"
  name: {{ .Name }}
contexts:
- context:
    cluster: {{ .Name }}
    user: {{ .Name }}-admin
  name: {{ .Name }}
current-context: {{ .Name }}
kind: Config
preferences: {}
users:
- name: {{ .Name }}-admin
  user:
    client-certificate-data: {{ .Identity.CertificatePem }}
    client-key-data: {{ .Identity.PrivateKeyPem }}